# Kotlin Multiplatform
.gradle/
build/
**/build/
.kotlin/
*.log

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Android
.navigation/
captures/
output.json
*.jks
*.keystore
*.pk8
*.pem
gradle-wrapper.jar
.cxx/
local.properties

# Firebase
.firebase/
functions/node_modules/

# Node
node_modules/
package-lock.json

# Web (Kotlin/Wasm)
.js/
.wasm/

# OS specific
.DS_Store
Thumbs.db

# VS Code
.vscode/
